button {
    width: 5.8rem;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.pink-on-hover-button {
    color: $CTA-text;
    &:hover {
        color: white;
        background: $CTA-hover-background;
        cursor: pointer;
    }
}

.white-on-hover-button {
    color: white;
    background: none;
    border: 1px solid white;
    &:hover {
        color: $CTA-text;
        background: white;
        cursor: pointer;
        border: none;
    }
}

.gradient {
    background: linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: white;
    width: 6rem;
    padding: 7px 5px;
    border-radius: 15px;
}

