main {
    height: 75vh;
    width: 100%;
    background: url("../images/bg-pattern-intro.svg"), linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position-x: -400px, center;
    background-position-y: -1300px, center;
    background-repeat: no-repeat;
    background-size: 3000px, 100%;
    border-bottom-left-radius: 100px;
    @media screen and (max-width: 700px) {
        height: 90vh;
    }
}

@mixin layout {
    padding: 60px 20px;
    margin: 0 150px;
}
@mixin space-between {
    display: flex;
    justify-content: space-between;
}
@mixin vertical_Flex {
    display: flex;
    flex-direction: column;
}

.main-top-container {
    @include space-between();
    @include layout();
    @media screen and (max-width: 1050px) {
        margin: 0 75px;
        padding: 60px 10px;
    }
    @media screen and (max-width: 950px) {
        margin: 0 34.5px;
        padding: 60px 5px;
    }
    @media screen and (max-width: 700px) {
        align-items: center;
    }
}
.logo-link-container {
    width: 30rem;
    @include space-between();
}

.button-container-main {
    width: 10rem;
    .login-span {
        padding-right: 20px;
    }
    @media screen and (max-width: 700px) {
        margin-right: 10px;
    }
}

.intro-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -50px;
    @media screen and (max-width: 700px) {
        margin-top: 50px;
    }
    h1 {
        font-size: 3.5rem;
        margin-bottom: 10px;
        @media screen and (max-width: 740px) {
            font-size: 3rem;
        }
    }
    p {
        margin-bottom: 10px;
    }
    .sff {
        margin-right: 10px;
    }
    .button-container-intro {
        margin-top: 30px;
    }
}

