li {
    list-style: none;
}
.nav-container {
    ul {
        li {
            display: inline;
            padding: 0 15px;
        }
    }
    @include vertical_Flex();
    align-items: flex-end;
    @media screen and (max-width: 700px) {
        display: none;
    }
}
.sub-list {
    margin-top: 20px;
    width: 10rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px hsla(0, 0, 0, .2);
    background: white;
    display: inline-block;
    text-align: start;
    padding: 20px; 
    line-height: 30px;
}
.hidden {
    display: none;
}
.show {
    display: inline-block;
}
