*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: .5s ease-in-out;
}

body {
    position: relative;
}

.mobile {
    display: none;
    @media screen and (max-width: 820px) {
        display: block;
        position: static;
    }
}
.desktop-only {
    @media screen and (max-width: 700px) {
        display: none;
    }
}

@import "intro";
@import "variables";
@import "links";
@import "buttons";
@import "section1";
@import "section2";
@import "section3";
@import "footer";
@import "mobile-menu";
@import "hamburger-menu";
@import "toggle-classes";

.desktop {
    @media screen and (max-width: 820px) {
        display: none;
    }
}
